
body {
  font-family: Arial, serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
}

h1 {
   text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold
  
}

p {
  margin-top: 80px;
}

button {
  margin-top: 40px;
}

.page-header {
  background-color: #00bda5;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #830808;
}
  .header-img {
  width: 100%;
  height: 50%;         /* Keeps aspect ratio */
  display: flex;
}
 /* .header-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
} */
.header-img {
  background-image: url('/images/Header3.png');
  background-size: cover;        /* Or 'contain' if you want full image always visible */
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 30%;
  /* padding-bottom: 10%; */
  width: 100%;
  height: 300px;                 /* Set your header height */
  display: flex;                 /* Enables vertical/horizontal centering */
  position: relative; /* Needed for overlays */
  align-items: center;
  justify-content: center;

  
}
.header-title1 {
  font-family:cursive;
  color: white;
  font-size: 12rem;
  font-weight: bold;
  text-shadow: 0px 0px 20px #fff;
  margin-bottom: 550;
  margin-left: 30%;
  /*position: relative;  /* Ensures above overlay */
  z-index: 10;

}
.header-title2 {
  font-family:cursive;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
   text-shadow: 0px 0px 15px #fff;
  margin-bottom: 400;
  align-items: center;  /*margin-left: 20%;*/
  margin-right: 28%;
  /*position: relative;  /* Ensures above overlay */
  z-index: 10;

}
/* .header-img-combined {
  aspect-ratio: 16 / 5;               Controls container shape 
  width: 150%;
 background-image: url('/images/Img_1575.jpg');
  background-size: cover 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(135, 116, 73);
  height: 250px;
  width: 100%;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%), linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 20%,black 80%, transparent 100%), linear-gradient(to bottom, transparent 0%, black 20%,black 80%, transparent 100%);
  
} */



#image img {
  height: 200px;
  margin-top: 60px;
}
